<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <style>html{visibility: hidden;opacity:0;}</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
