{% extends "layout.html" %}
{% import "button.html" as button %}
{% import "forms.html" as forms %}

{% block title %}Create email password{% endblock %}

{% block content %}
<div>
    <h1 class="my-4 text-2xl font-bold">Edit Profile</h1>
    <form method="post">
        <div class="space-y-2 mb-2">
            {{ forms.label("display_name", "Device Name:", errors.display_name) }}
            {{ forms.input("text", "display_name", "display_name", values.display_name, errors.display_name) }}
            {{ forms.description("The name of the client you are creating a password for.") }}
            {{ forms.error_message(errors.display_name) }}
        </div>
        <div class="space-y-2 mb-2">
            {{ forms.label("expires_at", "Expires at:", errors.expires_at) }}
            <input
                type="date"
                id="expires_at"
                name="expires_at"
                class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-base ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 md:text-sm"
                value="{{ values.expires_at|e }}"
                aria-required="true"
                aria-invalid="{{ errors.expires_at is defined }}"
             />
            {{ forms.description("The date when the password will expire. Optional.") }}
            {{ forms.error_message(errors.expires_at) }}
        </div>
        <div class="space-y-2 my-4">
            {{ forms.checkbox("deltachat", "I want to use it for Delta Chat", values.deltachat, errors.deltachat) }}
            {{ forms.description("A quick setup button and QR code will be generated.") }}
            {{ forms.error_message(errors.deltachat) }}
        </div>
        <div class="mt-2 flex flex-wrap gap-2">
            {% call() button.submit('submit') %}
                Submit
            {% endcall %}
            {% call() button.outline('/user/email-passwords') %}
                Cancel
            {% endcall %}
        </div>
    </form>
</div>
{% endblock %}
