{% extends "layout.html" %}
{% import "button.html" as button %}
{% import "forms.html" as forms %}

{% block title %}Edit profile{% endblock %}

{% block content %}
    <div>
        <h1 class="my-4 text-2xl font-bold">Edit Profile</h1>
        <form method="post">
            <div class="space-y-2 mb-2">
                {{ forms.label("displayname", "Display Name:", errors.displayname) }}
                {{ forms.input("text", "displayname", "displayname", values.displayname, errors.displayname) }}
                {{ forms.description("This is your public display name.") }}
                {{ forms.error_message(errors.displayname) }}
            </div>
            <div class="mt-2">
                {% call() button.submit('submit') %}
                    Submit
                {% endcall %}
            </div>
        </form>
    </div>
{% endblock %}
