{% extends "layout.html" %}
{% import "button.html" as button %}

{% block title %}Email passwords{% endblock %}

{% block content %}
<div>
    <h1 class="my-4 text-2xl font-bold">Email passwords</h1>

    <ul role="list" class="my-4 divide-y rounded-lg border">
        {% for password in email_passwords %}
            <form method="post" action="/user/email-passwords/delete">
                <li class="flex flex-col justify-between py-4 sm:flex-row">
                    <input type="hidden" name="uuid" value="{{ password.uuid }}" />
                    <div class="ml-3">
						<h2 class="scroll-m-20 text-xl font-semibold tracking-tight text-foreground">
							{{ password.display_name | e }}
						</h2>
                        <p class="text-sm text-card-foreground">
                            {% if password.last_used %}
                                Last used at {{ password.last_used | format_datetime }}
                            {% else %}
                                Never used
                            {% endif %}
                        </p>
						<p class="text-sm text-card-foreground">Created at {{ password.created_at | format_datetime }}</p>
						{% if password.expires_at %}
							<p class="text-sm text-card-foreground">Expires at {{ password.expires_at | format_datetime }}</p>
						{% endif %}
					</div>
                    {% call() button.submit_outline_destructive('submit') %}
                        Delete
                    {% endcall %}
                </li>
            </form>
        {% else %}
            <div class="text-sm text-muted-foreground py-4 text-center">No email passwords yet</div>
        {% endfor %}
    </ul>

    {% call() button.primary(href='/user/email-passwords/create') %}
        Create new email password
    {% endcall %}
</div>
{% endblock %}
