{% extends "base.html" %}
{% import "logo.html" as logo %}
{% import "button.html" as button %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="flex h-screen w-full flex-col items-center justify-center px-4">
	<div class="my-8 w-full max-w-xs">
		<div class="w-full">
			{{ logo.selfprivacy_horizontal_mono() }}
		</div>
	</div>
	<div class="rounded-lg border bg-card text-card-foreground shadow-sm min-w-xs mx-auto max-w-sm">
		<div class="flex flex-col space-y-1.5 p-6 pb-0">
			<div aria-level="3" role="heading" class="text-2xl font-semibold leading-none tracking-tight">
                Login
            </div>
			<p class="text-sm text-muted-foreground">Tap on the button below to begin</p>
		</div>
		<div class="flex items-center gap-4 p-6">
			{% call() button.primary_default(href='/login/oauth') %}
			Sign in with OAuth
			{% endcall %}
		</div>
	</div>
</div>
{% endblock %}
